@page "/"
@using Models

<PageTitle>Tazos Catalog</PageTitle>
<h1>Tazos Catalog</h1>

@if(tazos is null)
{
    <p>Loading ...</p>
}
else
{
<table class= "table table-striped table-bordered table-hover">
    <thead class= "table-dark">
        <th>Id</th>
        <th>Name</th>
        <th>Material</th>
        <th>SerialNumber</th>
        <th>Theme</th>
        <th>Size</th>
        <th>Price</th>
        <th>ReleaseDate</th>
    </thead>
    <tbody>
        @foreach (var tazo in tazos)
        {
            <tr>
                <td>@tazo.Id</td>
                <td>@tazo.Name</td>
                <td>@tazo.Material</td>
                <td>@tazo.SerialNumber</td>
                <td>@tazo.Theme</td>
                <td>@tazo.Size</td>
                <td>@tazo.Price</td>
                <td>@tazo.ReleaseDate.ToString("MM/dd/yyyy")</td>
            </tr>
        }
    </tbody>
</table>
}
@code
{
    private Tazo[]? tazos;
        protected override void OnInitialized()
        {
            tazos = TazoClient.GetTazos();
        }
}